@import 'src/theme/Theme.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  padding: 10px;
  .slider {
    color: black;
    margin: 0;
  }
  .label {
    font-weight: bold;
    span {
      font-size: $desktopFontL;
      margin-left: 15px;
    }
  }
}
