@import 'src/theme/Theme.scss';

.root {
  font-family: $PRIMARYFONT;
  background-color: $YELLOW;
  display: flex;
  flex-direction: row;
  .algorithmContainer {
    flex-grow: 1;
  }
  .slidersContainer {
    flex-grow: 2;
    display: flex;
    flex-direction: row;
  }
  .actionsContainer {
    flex-grow: 1;
  }
  .column {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  button {
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    background-color: $BLACK;
    &.run {
      background-color: #51cd51;
    }
    span {
      font-weight: bold;
      font-size: $desktopFontS;
    }
  }
}
